


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" routerLink="/home">Dev's Tutorial</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#tutorials"><b>TUTORIALS</b></a></li>
        <li><a href="#services">COURSES</a></li>
        <li><a href="#portfolio">ACTIVITY</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
      
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">  

  <div class="row content">
    <div class="col-sm-2 sidenav"><br><br>
      
    </div>

    <div class="col-sm-8 text-left"> 
        <br><br>
      <div class="col-sm-2 sidenav"><br><br>
      </div>
      <div class="col-sm-8 text-left">
        <h1>Page Is Under Construction.Please Come Back Later  <i class="em em-blush" aria-role="presentation" aria-label="BLACK HEART"></i>
        </h1>
      <img src="assets/img/under.gif"style="width:100%;hight:500px"> 
  </div>
  <div class="col-sm-2 sidenav">
      </div>
    </div>

<div class="col-sm-2 sidenav">
    <br/>  <br/>  <br/>
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
</div>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
