#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.alink { 
    color:#ff880d;

}